# Default ignored files
/shelf/
/workspace.xml
/node_modules
# Editor-based HTTP Client requests
/httpRequests/
# intellij configs
.idea/
#firebase
.firebase
.firebaserc
firebase.json
firebase-debug.log
