# Default ignored files
/node_modules/
/shelf/
/workspace.xml
/.vscode/
*.code-workspace
/node_modules
# Editor-based HTTP Client requests
/httpRequests/
# intellij configs
.idea/
#firebase
.firebase
.firebaserc
firebase.json
firebase-debug.log
