<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="\assets\favicon.ico?" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🏃Rungeon</title>
    <link rel="stylesheet" href="styles/themes.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=JetBrains+Mono&family=Roboto&display=swap");
    </style>
    <script
      src="https://kit.fontawesome.com/384a80988d.js"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/themes.js" defer></script>
    <script src="scripts/main.js" defer></script>
    <script>
      window.addEventListener("load", function() {
        console.log(localStorage.getItem("theme"));
        document.body.classList.add(
          "theme-" + localStorage.getItem("theme")
        );
      });
    </script>
  </head>

  <body id="index">
    <div id="themePopup" style="display: none">
      <div class="title theme-serika" onclick="setTheme('serika')">serika</div>
      <div class="title theme-cobalt" onclick="setTheme('cobalt')">cobalt</div>
      <div class="title theme-hedge" onclick="setTheme('hedge')">hedge</div>
      <div class="title theme-passionfruit" onclick="setTheme('passionfruit')">
        passionfruit
      </div>
      <div class="title theme-rgb" onclick="setTheme('rgb')">rgb</div>
      <div class="title theme-dots" onclick="setTheme('dots')">dots</div>
      <div class="title theme-default" onclick="setTheme('default')">
        default
      </div>
    </div>
    <div class="doors">
      <i
        id="doors_icon"
        class="icon fas fa-dungeon fa-5x"
        onclick="window.location.href='/rungeon'"
      ></i>
    </div>
    <div class="links">
      <a
        href="https://github.com/devkennyy/rungeon"
        class="textButton"
        target="_blank"
      >
        <i class="fas fa-fw fa-code"></i>
        <div class="text">GitHub</div>
      </a>
      <div class="textButton" onclick="toggleThemePopup()" class="textButton">
        <i class="fas fa-fw fa-palette"></i>
        <div class="text">Theme</div>
      </div>
      <a
        href="https://discord.gg/SFX2KSuzep"
        class="textButton"
        target="_blank"
      >
        <i class="fa-brands fa-fw fa-discord"></i>
        <div class="text">Discord</div>
      </a>
    </div>
  </body>
</html>
