:root {
  --bg-color: #181818;
  --text-color: #e5f4f4;
  --sub-color: #baf3f3;
  --icon-color: #17b8bd;
  --nav-color: #17b8bd;
  --nav_icon-color: #baf3f3;
  --continue_btn-color: #165153;
  --return_btn-color: #1fdde4;
}