:root {
  --bg-color: #121520;
  --text-color: #fff;
  --sub-color: #fff;
  --icon-color: #fff;
}

.stage .icon {
  background-color: #4acb8a !important;
  padding: 15px 15px 15px 15px;
  border-radius: 10rem;
}

#index .textButton {
  padding: 7px 12px 7px 8px;
  border-radius: 10rem;
  color: #121520;
}

#index .textButton:first-child {
  background: #f94348
}

#index .textButton:nth-child(2) {
  background: #9261ff
}

#index .textButton:nth-child(3) {
  background: #3cc5f8
}