:root {
  --bg-color: #415e31;
  --text-color: #f7f1d6;
  --sub-color: #f7f1d6;
  --icon-color: #f2efbb;
  --nav-color: #f7f1d6;
  --nav_icon-color: #415e31;
  --continue_btn-color: #74c24b;
  --return_btn-color: #1a2c10;
}