:root
{
  --bg-color: #7c2043;
  --text-color: #fcacbc;
  --sub-color: #f5dcdf;
  --icon-color: #daaa1d;
  --nav-color: #873f5b;
  --nav_icon-color: #daaa1d;
  --primary_btn-color: #fcacbc;
  --danger_btn-color: #a2305b;
}
