:root {
  --bg-color: #7c2043;
  --text-color: #fcacbc;
  --sub-color: #f5dcdf;
  --icon-color: #daaa1d;
  --nav-color: #873f5b;
  --nav_icon-color: #daaa1d;
  --continue_btn-color: #fcacbc;
  --return_btn-color: #6f3e48;
}