:root {
  --bg-color: #111;
  --text-color: #444;
  --sub-color: #9e9e9e;
  --icon-color: #444;
}

.stage .icon, 
#index .doors i,
#index .links i, 
#themePopup,
#themePopup #closeButton {
  animation: rgb 5s linear infinite
}

@keyframes rgb {
  0% {
    color: #4cae4c
  }

  20% {
    color: #409eb5
  }

  40% {
    color: #8134f4
  }

  60% {
    color: #f10e19
  }

  80% {
    color: #ffc505
  }

  to {
    color: #4cae4c
  }
}