:root {
  --bg-color: #111;
  --text-color: #444;
  --sub-color: #9e9e9e;
  --icon-color: #444;
  --nav-color: rgb(46, 46, 46);
  --nav_icon-color: #444;
  --continue_btn-color: #01ff34;
  --return_btn-color: #e41f1f;
}

.nav-link,
.stage .icon, 
#index .doors i,
#index .links i, 
#themePopup,
#themePopup #closeButton {
  animation: rgb 5s linear infinite !important;
}

@keyframes rgb {
  0% {
    color: #4cae4c
  }

  20% {
    color: #409eb5
  }

  40% {
    color: #8134f4
  }

  60% {
    color: #f10e19
  }

  80% {
    color: #ffc505
  }

  to {
    color: #4cae4c
  }
}