* {
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    user-select: none;
    /* cursor: url("https://cdn.discordapp.com/attachments/961138819111993354/993090951604097075/Untitled2.png"), auto; */
}

#key:hover {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.sectionWrapper {
    text-align: center;
    font-size: 4rem;
    height: 100%;
    color: #adacad;
    background-color: #212024;
}

.sectionWrapper .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.screen {
    height: 100%;
    color: #adacad;
    background-color: #212024;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen h1 {
    margin-top: 24px;
}

.screen p {
    margin: 12px 0px 24px 0px;
}

.screenFour .icon{
  cursor: auto;
}

button {
    border: 0;
    border-radius: 4px;
    color: #010101;
    background-color: #90b4fc;
    cursor: pointer;
    font-size: 0.875em;
    padding: 8px 16px;
    user-select: none;
    min-width: 60px
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
