:root {
  --bg-color: #181818;
  --text-color: #e5f4f4;
  --sub-color: #baf3f3;
  --icon-color: #17b8bd;
  --nav-color: #17b8bd;
  --nav_icon-color: #befafa;
  --primary_btn-color: #1fdde4;
  --danger_btn-color: #127d81;
}