:root
{
  --bg-color: #202124;
  --text-color: #adacad;
  --sub-color: #adacad;
  --icon-color: #adacad;
  /* --nav-color: #2a2f34; */
  --nav_icon-color: #96999b;
  --primary_btn-color: #0d6ffc;
  --danger_btn-color: #dd3445;
}
