:root {
  --bg-color: #323437;
  --text-color: #909396;
  --sub-color: #d1d0c5;
  --icon-color: #e2b714;
  --nav-color: #606366;
  --nav_icon-color: #e2b714;
  --primary_btn-color: #e5ba1e;
  --danger_btn-color: #78610c;
}