$primary-color: #adacad;
$background-color: #202124;
$black: #010101;
$button-background: #90b4fc;

* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-color: $background-color;
  height: 100%;
  user-select: none;
}

.dungeonEntrance {
  .icon {
    color: $primary-color;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: blink 1s;
    animation-iteration-count: infinite;
  }
}

.returnBtn {
  border: 0;
  border-radius: 4px;
  color: $black;
  background-color: $button-background;
  cursor: pointer;
  font-size: 0.875em;
  padding: 8px 16px;
  user-select: none;
  margin-left: 33%;
}

.continueBtn {
  border: 0;
  border-radius: 4px;
  color: $black;
  background-color: $button-background;
  cursor: pointer;
  font-size: 0.875em;
  padding: 8px 16px;
  user-select: none;
}

.room-wrapper {
  .room {
    // display: none;
    height: 100%;
    color: $primary-color;
    background-color: $background-color;
    .icon {
      margin-top: 9%;
      margin-left: 33%;
      margin-bottom: 50px;
    }
    h1 {
      margin-left: 33%;
      margin-bottom: 20px;
      font-size: x-large;
    }
    p {
      margin-left: 33%;
      margin-bottom: 40px;
      font-size: large;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
