$primary-color:#adacad;
$background-color:#202124;

* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
}

.stage {
  color: $primary-color;
  background-color: $background-color;
  justify-content: center;
  .icon {
    margin-bottom: 1%;
  }
  h1 {
    font-size: 1.9rem;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
  }
}

#stage_1-icon:hover,
#stage_2-coin:hover {
  cursor: pointer;
}

#stage_3-icon:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>🟡</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

#index {
  z-index: 1;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  .doors {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    height: 60vh;
    line-height: 100vh;
    vertical-align: middle;
    i {
      color: $primary-color;
      font-size: 20rem;
      cursor: pointer;
      animation: blink 1s;
      animation-iteration-count: infinite;
    }
    @keyframes blink {
      0%,
      100% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }
    }
  }
  .links {
    z-index: 2;
    margin-bottom: 220px;
    display: flex;
    text-decoration: none;
    column-gap: 20px;
    .theme-button {
      user-select: none;
      opacity: 0.3;
    }
    i {
      color: $primary-color;
    }
    div {
      font-size: 1rem;
      font-weight: 500;
      color: $primary-color;
      display: inline-block;
    }
    a {
      text-decoration: none;
    }
  }
}
